<div class="footerWrapper"
     data-aos="fade-up"
     data-aos-duration="500"
     data-aos-easing="ease-out"
     data-aos-offset="400"
>
  <div class="footerWrapper__body">
    <div class="footerWrapper__body__leftSide">
      <div class="footerWrapper__body__leftSide__branding">
        <figure class="footerWrapper__body__leftSide__branding__logoWrapper">
          <img
            class="footerWrapper__body__leftSide__branding__logoWrapper__logo"
            [src]="brandingLogo"
            alt="Branding Logo"
          />
        </figure>
        <h2 class="footerWrapper__body__leftSide__branding__brandingName">
          Nail<span
            class="footerWrapper__body__leftSide__branding__brandingName--secondColor"
            >issa</span
          >
        </h2>
      </div>
      <p class="footerWrapper__body__leftSide__overview">
        {{ overviewMessage }}
      </p>
    </div>

    <!-- ********** Right Side ********** -->

    <div class="footerWrapper__body__rightSide">
      <nav class="footerWrapper__body__rightSide__nav">
        <div class="footerWrapper__body__rightSide__nav__listWrapper">
          <h2 class="footerWrapper__body__rightSide__nav__listWrapper__title">
            {{ listTitleA }}
          </h2>
          <ul
            class="footerWrapper__body__rightSide__nav__listWrapper__title__ul"
          >
            <li
              class="footerWrapper__body__rightSide__nav__listWrapper__title__ul__elements"
            >
              {{ listAContent1 }}
            </li>
            <li
              class="footerWrapper__body__rightSide__nav__listWrapper__title__ul__elements"
            >
              {{ listAContent2 }}
            </li>
            <li
              class="footerWrapper__body__rightSide__nav__listWrapper__title__ul__elements"
            >
              {{ listAContent3 }}
            </li>
            <li
              class="footerWrapper__body__rightSide__nav__listWrapper__title__ul__elements"
            >
              {{ listAContent4 }}
            </li>
          </ul>
        </div>
        <div class="footerWrapper__body__rightSide__nav__listWrapper">
          <h2 class="footerWrapper__body__rightSide__nav__listWrapper__title">
            {{ listTitleB }}
          </h2>
          <ul
            class="footerWrapper__body__rightSide__nav__listWrapper__title__ul"
          >
            <li
              class="footerWrapper__body__rightSide__nav__listWrapper__title__ul__elements"
            >
              {{ listBContent1 }}
            </li>
            <li
              class="footerWrapper__body__rightSide__nav__listWrapper__title__ul__elements"
            >
              {{ listBContent2 }}
            </li>
            <li
              class="footerWrapper__body__rightSide__nav__listWrapper__title__ul__elements"
            >
              {{ listBContent3 }}
            </li>
            <li
              class="footerWrapper__body__rightSide__nav__listWrapper__title__ul__elements"
            >
              {{ listBContent4 }}
            </li>
          </ul>
        </div>
        <div class="footerWrapper__body__rightSide__nav__listWrapper">
          <h2 class="footerWrapper__body__rightSide__nav__listWrapper__title">
            {{ listTitleC }}
          </h2>
          <ul
            class="footerWrapper__body__rightSide__nav__listWrapper__title__ul"
          >
            <li
              class="footerWrapper__body__rightSide__nav__listWrapper__title__ul__elements"
            >
              {{ listCContent1 }}
            </li>
            <li
              class="footerWrapper__body__rightSide__nav__listWrapper__title__ul__elements"
            >
              {{ listCContent2 }}
            </li>
            <li
              class="footerWrapper__body__rightSide__nav__listWrapper__title__ul__elements"
            >
              {{ listCContent3 }}
            </li>
            <li
              class="footerWrapper__body__rightSide__nav__listWrapper__title__ul__elements"
            >
              {{ listCContent4 }}
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>

<!-- ********** Footer ********** -->

<div class="footerWrapper__footer">
  <ul class="footerWrapper__footer__ul">
    <li class="footerWrapper__footer__ul__elements">{{ footerContent1 }} <a
            class="footerWrapper__footer__ul__elements--link"
            href="https://ndecressac.fr">{{footerContent1Link}}</a></li>
    <li class="footerWrapper__footer__ul__elements">{{ footerContent2 }}</li>
    <li class="footerWrapper__footer__ul__elements">{{ footerContent3 }}</li>
  </ul>
</div>
