<div id="accueil" class="headerWrapper">
  <nav class="headerWrapper__contactWrapper">
    <ul class="headerWrapper__contactWrapper__list">
      <li class="headerWrapper__contactWrapper__list__elements">
        <figure
          class="headerWrapper__contactWrapper__list__elements__iconWrapper"
        >
          <img
            [src]="phoneCallIcon"
            alt="phone call icon"
            class="headerWrapper__contactWrapper__list__elements__iconWrapper__logo"
          />
        </figure>
        <a
          class="headerWrapper__contactWrapper__list__elements__iconWrapper--href"
          href="tel: +33666327763"
          title="Ligne direct"
        >
          {{ phoneNumber }}
        </a>
      </li>
      <li class="headerWrapper__contactWrapper__list__elements">
        <figure
          class="headerWrapper__contactWrapper__list__elements__iconWrapper"
        >
          <img
            [src]="whatsappIcon"
            alt="phone call icon"
            class="headerWrapper__contactWrapper__list__elements__iconWrapper__logo"
          />
        </figure>
        <a
          class="headerWrapper__contactWrapper__list__elements__iconWrapper--href"
          href="https://wa.me/+336666327763"
          title="Contacter sur What's app"
        >
          {{ phoneNumber }}
        </a>
      </li>
      <li class="headerWrapper__contactWrapper__list__elements">
        <figure
          class="headerWrapper__contactWrapper__list__elements__iconWrapper"
        >
          <img
            [src]="mailIcon"
            alt="phone call icon"
            class="headerWrapper__contactWrapper__list__elements__iconWrapper__logo"
          />
        </figure>
        <a
          class="headerWrapper__contactWrapper__list__elements__iconWrapper--href"
          href="mailto: contact@nailissa.fr"
          title="Envoyer un mail"
        >
          {{ mailAddress }}
        </a>
      </li>
    </ul>
    <ul class="headerWrapper__contactWrapper__list">
      <li class="headerWrapper__contactWrapper__list__elements">
        {{ socialMessage }}
      </li>
      <li
        class="headerWrapper__contactWrapper__list__elements"
        [title]="firstFollowTitle"
      >
        <figure
          class="headerWrapper__contactWrapper__list__elements__logoWrapper"
        >
          <img
            class="headerWrapper__contactWrapper__list__elements__logoWrapper__logo"
            [src]="firstFollowLogo"
            alt="facebook.com logo"
          />
        </figure>
      </li>
      <li
        class="headerWrapper__contactWrapper__list__elements"
        [title]="secondFollowTitle"
      >
        <figure
          class="headerWrapper__contactWrapper__list__elements__logoWrapper"
        >
          <img
            class="headerWrapper__contactWrapper__list__elements__logoWrapper__logo"
            [src]="secondFollowLogo"
            alt="instagram logo"
          />
        </figure>
      </li>
    </ul>
    <ul
      *ngIf="userData === undefined"
      class="headerWrapper__contactWrapper__account"
    >
      <li class="headerWrapper__contactWrapper__account__buttons">
        <button
          (click)="goToLogin()"
          class="headerWrapper__contactWrapper__account__buttons__btn"
        >
          {{ firstAccountBtn }}
        </button>
      </li>
      <li class="headerWrapper__contactWrapper__account__buttons">
        <button
          (click)="goToSignUp()"
          class="headerWrapper__contactWrapper__account__buttons__btn"
        >
          {{ secondAccountBtn }}
        </button>
      </li>
    </ul>
    <ul *ngIf="userData" class="headerWrapper__contactWrapper__account">
      <li
        (mouseenter)="toggleProfileModal($event)"
        class="headerWrapper__contactWrapper__account__connected"
      >
        <p class="headerWrapper__contactWrapper__account__connected__userName">
          <span class="material-symbols-outlined"> waving_hand </span>
          {{ hiMessage }} {{ userData.firstName }} !
        </p>
        <span
          class="headerWrapper__contactWrapper__account__connected__icon material-symbols-outlined"
        >
          arrow_drop_down
        </span>
      </li>
    </ul>
  </nav>
  <nav class="headerWrapper__navWrapper">
    <div class="headerWrapper__navWrapper__branding">
      <a class="navLink brandingLink" routerLink="" fragment="accueil">
        <figure class="headerWrapper__navWrapper__branding__logoWrapper">
          <img
            class="headerWrapper__navWrapper__branding__logoWrapper__picture"
            [src]="brandingLogo"
            alt="Branding Logo"
          />
        </figure>
        <p class="headerWrapper__navWrapper__branding__text">
          Nail<span
            class="headerWrapper__navWrapper__branding__text--secondColor"
            >issa</span
          >
        </p>
      </a>
    </div>
    <ul class="headerWrapper__navWrapper__navigation">
      <li class="headerWrapper__navWrapper__navigation__link">
        <a class="navLink" routerLink="" fragment="accueil">accueil</a>
      </li>
      <li class="headerWrapper__navWrapper__navigation__link">
        <a class="navLink" routerLink="" fragment="services">services</a>
      </li>
      <li class="headerWrapper__navWrapper__navigation__link">
        <a class="navLink" routerLink="" fragment="prestations">prestations</a>
      </li>
      <li class="headerWrapper__navWrapper__navigation__link">
        <a class="navLink" routerLink="" fragment="articles">articles</a>
      </li>
      <li class="headerWrapper__navWrapper__navigation__link">
        <a class="navLink" routerLink="" fragment="contacts">contacts</a>
      </li>
    </ul>
    <a
      routerLink=""
      fragment="prestations"
      class="headerWrapper__navWrapper__branding__buttonWrapper"
    >
      <button
        class="headerWrapper__navWrapper__branding__buttonWrapper__button"
      >
        {{ searchButton }}
      </button>
    </a>
  </nav>
  <div
    (mouseleave)="toggleProfileModal($event)"
    [ngClass]="
      isShowUserProfileModal
        ? 'headerWrapper__userModalWrapper--active'
        : 'headerWrapper__userModalWrapper'
    "
  >
    <span
      class="headerWrapper__userModalWrapper__icon material-symbols-outlined"
    >
      arrow_drop_up
    </span>
    <app-home-header-user-modal
      [userData]="userData"
    ></app-home-header-user-modal>
  </div>
</div>
