<div *ngIf="userData" class="headerUserModal">
  <article class="headerUserModalWrapper">
    <p class="headerUserModalWrapper__userName">
      {{ userData.firstName }}
      {{ userData.lastName }}
    </p>
    <nav class="headerUserModalWrapper__nav">
      <ul class="headerUserModalWrapper__nav__ul">
        <li
          (click)='goToBookedDate()'
          class="headerUserModalWrapper__nav__ul__link">
          <span
            class="headerUserModalWrapper__nav__ul__link__icon material-symbols-outlined"
          >
            event
          </span>
          {{ firstItemTxt }}
        </li>
        <li
          (click)="goToProfile()"
          class="headerUserModalWrapper__nav__ul__link"
        >
          <span
            class="headerUserModalWrapper__nav__ul__link__icon material-symbols-outlined"
          >
            settings_suggest
          </span>
          {{ secondItemTxt }}
        </li>
      </ul>
      <div class="headerUserModalWrapper__nav__buttonWrapper">
        <button
          class="headerUserModalWrapper__nav__buttonWrapper__btn"
          (click)="logout()"
        >
          <span
            class="headerUserModalWrapper__nav__buttonWrapper__btn__icon material-symbols-outlined"
          >
            logout
          </span>
          {{ buttonTxt }}
        </button>
      </div>
    </nav>
  </article>
</div>
